body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.link{
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: orangered;
    background-image:linear-gradient(tomato red);
    font-size: 20px;
    padding: 10px 40px;
    
}
.b{
    color: darkorange;
}
.c{
    font-size: 800px;
}